@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}
.content-cart {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 230px);
  gap: 16px;
}
.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  border: 1px solid cornflowerblue;
  cursor: pointer;
}
